@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

@font-face {
    font-family: Circular;
    src: url("fonts/circular-black.otf");
}

body {
	margin: 0;
	font-family: 'Circular';
	height: -webkit-fill-available;
	background: #222;
}

*::-webkit-scrollbar {
	display: none;
}

html, .content, div, body {
	height: 100%;
}

.center {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: fit-content;
	height: fit-content;
	z-index: 1;
	text-align: center;
}

.thin {
	width: fit-content;
	height: fit-content;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.login-button {
	border-radius: 24px;
	font-size: 1.5em;
	font-weight: bold;
	padding: .5em;
	padding-left: 1.25em;
	padding-right: 1.25em;
}

.background {
	position: absolute;
	background-size: cover;
	top: 0;
	width: 100%;
	bottom: 0;

	z-index: -1;

	-webkit-filter: blur(8px);
	-moz-filter: blur(8px);
	-o-filter: blur(8px);
	-ms-filter: blur(8px);
	filter: blur(8px);
}

.background div {
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: blur(0px);
}

.spotify-film {
	height: 100%;
	background: #000000aa;
}

.block {
	display: block;
}

.tall {
	margin-top: 100px;
	margin-bottom: 100px;
}

.white {
	color: white !important;
}

.big {
	font-size: 3em;
}

.bigger {
	font-size: 4em;
}

.centerChildren {
	text-align: center;
}

.title {
	position: relative;
	font-weight: bold;
}

.spotify-green {
	background-color: #1db954 !important;
	background-image: unset !important;
}

/* Start CSS for favorites page */
.content {
	display: flex;
	flex-direction: column;
}

.content div {
	transition: flex .5s;
}

div.album {
	position: relative;
	width: fit-content;
	padding: 0;
	margin: 0;
	height: 75%;
	margin-left: 5%;
	border-radius: .5em;
	display: inline-block;
	background-color: #0000;
	vertical-align: top;
	
	top: 50%;
	transform: translateY(-50%);
	
	transition: all .33s;
}

.search-container .album-container {
	height: 80%;
	top: 60%;
}

.album:hover {
	height: 99%;
	z-index: 3;
}

.album-container {
	width: 100%;	
	padding: 0;
	
	position: relative;
	
	top: 50%;
	transform: translateY(-50%);
}

.album-title {
	position: absolute;
	bottom: 0.1em;
	width: 96%;
	height: fit-content;
	color: #1db954;
	pointer-events: auto;
	z-index: 3;
	overflow: scroll;
	transition: .75s;
}

.artist-container {
	width: fit-content;
	height: fit-content;
}

.artist-title {
	position: absolute;
	bottom: 1em;
	display: inline;
	height: fit-content;
	width: 96%;
	color: #ccc;
	pointer-events: auto;
	z-index: 4;
	bottom: 1.25em;
	overflow: scroll;
}

.album-image {
	height: 100%;
}

.search-container div .row .album_container .album {
	margin-top: 0;
}

.favorite-button {
	z-index: 3;
	opacity: 0;
	transition: all 0.5s;
	
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
}

.album:hover .favorite-button {
	opacity: 1;
}

.album:hover .hide-button {
	opacity: 1;
}

.favorite-button:hover {
	z-index: 4;
}

.hide-button {
    top: 0.25em;
    position: absolute;
    right: 0.25em;
	background: rgba(0, 0, 0, .5);
	border-radius: .2em;
	z-index: 3;
	opacity: 0;
	
	transition: all 0.5s;
}

.small-caps {
	font-variant: small-caps;
}

.favorite-button span {
	line-height: 0;
}

.date {
	display: none;
}

.search-container {
	width: 100%;
	flex: 1;
	overflow-x: scroll;
	overflow-y: hidden;
	background-color: #222;
}

.favorites-container {
	width: 100%;
	flex: 1;
	overflow-x: scroll;
	overflow-y: hidden;
	background-color: #111;
}

.recommendations-container {
	width: 100%;
	flex: 1;
	overflow-x: scroll;
	overflow-y: hidden;
	background-color: black;
}

div.empty-box {
	flex: 0;
}

/*
@media only screen and (max-width: 1024px) and (orientation: portrait) {
	.search-container {
		width: 100%;
		height: fit-content;
	}

	.favorites-container {
		width: 100%;
		height: fit-content;
	}
}
*/

.search-bar {
	position: absolute;
    left: 0;
    right: 0;
	top: 0.66em;
    margin: auto;
	width: 30%;
	height: fit-content;
	z-index: 2;

	transition: all 0.5s;
}

.search-bar:focus {
	position: absolute;
	width: 50%;

	transition: all 0.5s;
}

.logout-button {
	position: absolute;
	right: 1em;
	z-index: 5;
	top: 0.66em;
}

.label {
	position: absolute;
	pointer-events: none;
	font-size: 1.5em;
	height: 1px;
	left: .25em;
	z-index: 2;
}

.spinner {
	position: absolute;
	margin-top: 4%;
	left: 0;
	right: 0;
	height: fit-content;
}

.small-albums .favorite-button {
	transform: translateX(-50%) translateY(50%) scale(.75);
}

.big-albums .favorite-button {
	transform: translateX(-50%) translateY(50%) scale(2);
}

.small-albums .album {
	margin-left: 2.5%;
}

.small-albums .tile__details {
	font-size: 0.666em;
}

.small-albums .album-title  {
}

.small-albums .artist-title  {
	bottom: 1.25em;
}

.big-albums .search-container .album-container  {
	bottom: 1.5em;
	font-size: 2em;
	top: 50%;
}

.big-albums .search-container .album-container .scroll-left {
	left: 0.25em;;
}